{% block news_entries %}

    {% for news in paginator %}

        {% set permalink = news_entry_permalink(news) %}

        <div class="row item">

            <div class="col-xs-12">

                <div class="news-item">

                    <div class="row">

                        <div class="image col-xs-12 col-md-5">
                            {% if news.getImage() is instanceof('\Pimcore\Model\Asset\Image') %}
                                <a href="{{ permalink }}">
                                    {{ news.getImage().getThumbnail('contentImage').getHtml({'class': 'img-responsive'}) }}
                                </a>
                            {% endif %}
                        </div>

                        <div class="col-xs-12 col-md-7">
                            <p class="date">{{ news.getDate().format('d.m.Y')  }}</p>

                            <h2>{{ news.getName() }}</h2>
                            <p>{{ news.getLead() }}</p>

                            <a href="{{ permalink }}" class="col-xs-12">
                                <span class="more">{{ 'news.read_more'|trans }}</span>
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    {% endfor %}

{% endblock %}