{% set related_entries = news_related_entries(entry) %}

{% if related_entries is iterable and related_entries|length > 0 %}

    <div class="news-related-list">

        <h3>{{ 'news.related_articles'|trans }}</h3>

        {% for related_entry in related_entries %}

            <div class="news-related-entry">

                {% include '@News/Detail/Block/Entry/image.html.twig' with { 'entry' : related_entry } %}

                <p class="date">
                    {{ related_entry.getDate().format('d.m.Y') }}
                </p>

                {% if related_entry.getLead() is not empty %}
                    <div class="lead">
                        {{ related_entry.getLead() }}
                    </div>
                {% endif %}

                <a href="{{ news_entry_permalink(related_entry) }}" class="col-xs-12">
                    <span class="more">{{ 'news.read_more'|trans }}</span>
                </a>

            </div>

        {% endfor %}

    </div>

{% endif %}